<div class="container" id="hosts-details">
    <div id="environment-header" data-ng-show="isMultipleTiers()">
        <span class="environment-title" translate="ENVIRONMENT">Environment</span>: <span class="environment-description">{{environment.description}}</span>

        <hr>
    </div>

    <accordion close-others="false" is-open="true">
        <accordion-group data-ng-repeat="application in environment.applications">
            <accordion-heading>
                <span id="{{application.id}}-app">{{application.description}}</span>
            </accordion-heading>
            <div id="{{application.id}}-url">
                <div class="row">
                    <div class="col-md-2" translate="URL">URL:</div>
                    <div class="col-md-10"><a href="{{application.url}}">{{application.url}}</a></div>
                </div>

                <div class="row">
                    <div class="col-md-2" translate="DEPLOYED_BUILD">Deployed Build:</div>
                    <div class="col-md-10">{{application.version}}</div>
                </div>

                <hr>

                <div class="row env-service-instance" data-ng-repeat="serviceInstance in application.serviceInstances">
                    <div class="btn col-md-12" data-ng-class="{'btn-success': serviceInstance.status == 'Running', 'btn-danger': serviceInstance.status == 'Stopped'}">
                        <span>{{serviceInstance.serverName}}</span>
                        <span>[{{serviceInstance.containerImage.tag}} - deployed @ {{serviceInstance.containerCreatedDate | date:'short'}}]</span>
                    </div>
                </div>

                <hr>

                <div class="row env-missing-service-instance" data-ng-repeat="missingService in application.missingServiceInstances track by $index">
                    <div class="btn col-md-12 btn-warning">{{missingService.serviceName}} Missing</div>
                </div>

            </div>
        </accordion-group>
    </accordion>
</div> <!-- /container -->
